.footerName {
  font-family: var(--font-dm-serif), serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text);
}

.footerEmail {
  font-size: 0.875rem;
  margin: 0;
  display: block;
  color: var(--text);
  text-decoration: underline;
}

.footerIcon {
  color: var(--text);
}
